_build

snap/.snapcraft
parts
stage
prime
*.snap

*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

# anjuta
.anjuta
.anjuta_sym-db.db
raphael.anjuta
#clion
cmake-build-debug
